.counter {
  display: block;
  margin: 20px;
}
.counter__title {
  color: rgb(6, 6, 32);
  font-size: 35px;
  margin-bottom: 20px;
}
.counter__list {
  padding: 0;
}

.button {
  color: rgb(25, 23, 27);
  background-color: rgb(248, 247, 246);
  border-radius: 10px;
  border-color: aliceblue;
  padding: 15px;
  margin: 5px;
}
.statistics__item {
  margin: 10px;
  list-style: none;
  color: rgb(25, 23, 27);
}
